<h1>Editing parking</h1>

<%= render 'form' %>

<%= link_to 'Show', @parking %> |
<%= link_to 'Back', parkings_path %>
<%= link_to "Delete",parking_path(@parking.id), 'method' => :delete, :class => "delete", :confirm => "Are you sure ?"%>